header {
    display: flex;
    width: 1440px;
    height: 70px;
    padding: 0 20px;
    align-items: center;
}

.header__logo {
    height: 45px;
    background-color: var(--color-main-blue);
}

.header__nav {
    display: flex;
    gap: 20px;
    margin-left: auto;
}
